<% if logged_in? %>
  <div class="container">
    <%= render 'shared/feed' %>
  </div>
    <div class="modal fade" id="postModal" tabindex="-1" role="dialog" aria-                                              labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">分享图片／文字</h4>
          </div>
          <div class="modal-body">
            <section class="micropost_form">
              <%= render 'shared/micropost_form' %>
            </section>
          </div>
        </div>
      </div>
    </div>
<% else %>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">  
            <h1 class="cover-heading">欢迎来到 Colorful-SK</h1>
            <p class="lead">
              better work, better life, just enjoy it.
            </p>
            <p class="lead">
              <%= link_to "注册", signup_path, class: "btn btn-lg btn-primary" %>
            </p>
          </div>
        </div>
      </div>
    </div>
<% end %>
