<% if @feed_items.any? %>
  <div class="grid">
  <% @feed_items.each do |feed_item| %>
    <div class="grid-sizer"></div>
    <div class="grid-item">
      <%= link_to image_tag(feed_item.picture.url), feed_item.picture.url, class: "thumbnail", target: "_blank" if feed_item.picture? %>
      <div style="margin: 5px;">
        <div>
          <%= feed_item.content %>
        </div>
        <div style="float:right;">
          ----From <%= link_to feed_item.user.name, feed_item.user %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <%= will_paginate @feed_items %>
<% end %>